/*JOKER FANSITE
=================
CONTACT
=================
Background
=================*/
.indexBg {
    display: fixed;
    background-color: black;
}

/*===============
Nav Bar
=================*/
#sideNav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 180px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-family: 'Bangers', cursive;
    font-size: 20px; /* Increase font size */
    text-align: right;
    color: white; /* White text color */
    border-radius: 0 30px 30px 0; /* Rounded corners on the top right and bottom right side */
}

#sideNav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
    box-shadow: 0px 0px 25px #B02BCF; /* On mouse-over, a shadow appear around the element*/
}

/* The about link: 20px from the top with a green background */
#home {
    top: 30px;
    background-color: #141414;

}
#biography {
    top: 100px;
    background-color: #141414;
}

#presentation {
    top: 170px;
    background-color: #141414;
}

#photography {
    top: 240px;
    background-color: #141414;
}

#goodies {
    top: 310px;
    background-color: #141414;
}

#contact {
    top: 380px;
    background-color: #141414;
}
/* effet noir gradient sur nav bar à gauche*/
#gradient {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  z-index: -5;
}
/* BACKGROUND */
.contact img {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -10;
}
/* BULLE IMAGE */
.bulleImage img {
  position: absolute;
  width: 620px;
  height: 550px;
  top: 45px;
  left: 520px;
  opacity: 0.7;
}
/* TEXT dans la bulle */
 .bulleText  {
  position: absolute;
  top: 60px;
  left: 700px;
  z-index: 10;
  width: auto;
  height: auto;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-align: center;
  padding-left: 30px;
  padding-top: 8px;
}
/* Formulaire */
.formContact {
  display: flex;
  flex-direction: column;
  }
  .formContact input {
    border-radius: 5%;
    border: 1px black solid;
  }
#message {
  height:60px;
}
/* MEDIA QUERIES */
@media (max-width: 1157px){
  .bulleImage img {
    display: none;
  }
  .bulleText {
    position: fixed;
    top: 0px;
    left: 120px;
    background-color: rgba(0,255,255,0.7);
  }
}
/*==============================================================================*/

/*==================
FOOTER
====================*/

footer {
    background-color: black;
    font-family: "Open", sans-serif;
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: gray;
    text-decoration: none;
    text-align: left;
}
footer a {
    margin: 0 20px;
    bottom: 20px;
    background-color: black;
    color: gray;
    text-decoration: none;
}
