/*JOKER FANSITE
=================
Biographie Page
=================
Background
=================*/
body {
    margin: 0;
}

.indexBg {
    display: fixed;
    background-color: black;
}

/*===============
Nav Bar
=================*/
#sideNav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 180px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-family: 'Bangers', cursive;
    font-size: 20px; /* Increase font size */
    text-align: right;
    color: white; /* White text color */
    border-radius: 0 30px 30px 0; /* Rounded corners on the top right and bottom right side */
    z-index: 50;
}

#sideNav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
    box-shadow: 0px 0px 25px #19FF5A; /*On mouse-over, a shadow appear around the element*/
}

/* The about link: 20px from the top with a green background */
#home {
    top: 30px;
    background-color: #141414;

}
#biography {
    top: 100px;
    background-color: #141414;
}

#presentation {
    top: 170px;
    background-color: #141414;
}

#photography {
    top: 240px;
    background-color: #141414;
}

#goodies {
    top: 310px;
    background-color: #141414;
}

#contact {
    top: 380px;
    background-color: #141414;
}

/* ==============================
BOUTIQUE ET PANIER
================================= */

body {
  background-image: url(../img/Boutique/arkham.png);
  repeat: no-repeat;
  background-size: cover;
}
.gradient {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  z-index: 0;
}
.container {
  display: flex;
  flex-direction: row;
}
.boutique {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 30px;
  padding-bottom: 50px;
  border-radius: 20%;
  position: absolute;
  right: 550px;
}

 .figurine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
input {
  width: 25px;
}
.boutique img {
  width: 150px;
  height: 200px;
  border: 2px black solid;
}
.boutique p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Oswald", sans-serif;
}
.batte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dentier {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-right: 20px;
}
.t-shirt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panier {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 550px;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-right: auto;
  border: black 2px solid;
  border-radius: 20%;
  position: absolute;
  right: 20px;
}
.panier h1 {
  font-size: 30px;
  font-family: "Bangers", sans-serif;
}
.panier ul {
  margin: 0px;
  text-align: center;
  padding: 0px;
}
.panier li {
  list-style-type: none;
  text-align: center;
}
.boutique button {
  background-color: Transparent;
  border-radius: 5%;
  border: darkgreen 2px solid;
  padding: 5px;
  margin: 5px;
  font-family: "Bangers", sans-serif;
  color: green;
}
.boutique button:hover {
    box-shadow: 0px 0px 25px #19FF5A;
}
.panier button {

}

/*==================
FOOTER
====================*/

footer {
    background-color: black;
    font-family: "Open", sans-serif;
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: gray;
    text-decoration: none;
    text-align: left;
}
footer a {
    margin: 0 20px;
    bottom: 20px;
    background-color: black;
    color: gray;
    text-decoration: none;
}
