<!DOCTYPE html>
<html>
<head>
	<title>Joker FanSite / <!--Put the name of the page HERE--></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/bio-style.css">
	<link href="https://fonts.googleapis.com/css?family=Bangers|Oswald|Open+sans" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body bgcolor="black">
	<div class="indexBg">
	<!--==================
	 NAV SIDE BUTTON
	 =====================-->
		<div id="sideNav" class="sidenav">
			<a href="index.html" id="home">Home</a>
	  		<a href="biographie.html" id="biography">Biography</a>
	  		<a href="presentation.html" id="presentation">Presentation</a>
	  		<a href="photographie.html" id="photography">Photography</a>
	  		<a href="goodies.html" id="goodies">Goodies</a>
	  		<a href="contact.html" id="contact">Contact</a>
		</div>
	</div>

<!--CODE HERE PLEASE !-->

</body>
<!-- =================
FOOTER
====================== -->
<footer>
	<a href="https://github.com/ThankUniverse">Michael Tolis</a><!--Link to Michael Github account-->
	<a href="https://github.com/sarahleejara">Sarah-lee Jara</a><!--Link to Sarah-lee Github account-->
	<a href="https://github.com/MaxCo41">Maxime Collin |</a><!--Link to Maxime Github account-->
	<a href="">Frontend-AlloCiné</a><!--Link to frontend-AlloCiné workGroup-->
	<a href=""></a>| 2018 |</a>
</footer>
</html>